@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Slab:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Open Sans, sans-serif;
    background: #363736;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Open Sans, sans-serif;
}

button {
    cursor: pointer;
}

form input, select{
    width: 100%;
    height: 60px;
    border: 1px solid #FFF8F0;
    border-radius: 8px;
    padding: 0 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button {
    width: 100%;
    height: 60px;
    background: #FFB357;
    border: 0;
    border-radius: 8px;
    color: #FFF8F0;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.3s;
}

.button:hover {
    filter: brightness(85%)
}