header {
  display: flex;
  align-items: center;
  background-color: #363736;
}

header img{
  height: 65px;
  transition: opacity 0.3s;
}

header img:hover{
  opacity: 0.7;
}

header button{
  width: 60px;
  height: 60px;
  margin-left: 30px;
  margin-top: 0;
  background-color: #363736;
  border-color:#363736;
  transition: opacity 0.3s;
  border-style: none;
  font-size: 14px;
  max-width: 100px;
  justify-content: center;
  align-items: center;
}

header button:hover{
  opacity: 0.7;
}

.header-detail-output a {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #FFF8F0;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
  text-align: center;
}

.header-detail-output a:hover  {
  opacity: 0.7;
}

.detailOutput-container{
  width: 100%;
  max-width: 1120px;
  height: 30vh; 
  margin: 0 auto;
  background-color: #011627;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.detailOutput-container strong {
  color: azure;
  font-size: 20px;
}

.detailOutput-container p {
  margin-left: 20px;
  margin-right: 20px;
  color:rgb(153, 153, 153);
  font-size: 16px;
}

.detailOutput-container div {
  display: flex;
  margin-top: 15px;
  width: 100%;
}